APP_PORT=3000
DB_GIT_COMMIT=true
DB_GIT_COMMIT_SCRIPT=./push-db.sh
DB_GRADING_DIR=./db/grading
DB_INDECISIVE_DIR=./db/indecisive
HASH_SECRET="something better than this"
LOGGING_ENABLED=true
LOG_LEVEL=debug
